@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

:root {
  --maincolor: #5e4548;
  --secondarycolor: #f7f3e8;
  --accentcolor: #f2c464;
  overflow-x: hidden;
  font-size: 10px;
}

body {
  background-color: #f7f3e8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: "Caveat", serif;
  color: inherit;
}

/*  to remove the arrows from the input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.line-break {
  display: block;
  width: 80%;
  height: 0.2rem;
  margin: 1rem auto;
  background-color: var(--maincolor);
}

.ads-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .ads-wrapper {
    display: none;
  }
  
}




/* dark mode */
.Home.dark {
  background-color: #151931;
  color: #fff;

  .line-break {
    background-color: #fff;
  }
}
